.navbar {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: rgb(159, 161, 32);
    color: white;
  }
  
  .navbar-brand {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding:1px;
  }
  
  .hamburger {
    display: flex;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .navbar-links {
    display: flex;
    flex-direction: column;
    width: 170%;
    text-align: center;
    padding: 1px;
    color: rgb(211, 190, 190);
    
  }
  
  
  .navbar-links a:hover {
    background-color: rgb(231, 217, 217);
  }
  
  .navbar-links.open {
    display: flex;
    
  }
  
  @media (min-width: 800px) {
    .navbar {
      flex-direction: auto;
      justify-content: space-between;
      align-items: left;
    }
  
   
  
   
  
    
  }
  